<h1>Welcome to Rate My Oppressor</h1>
<h3>Review the officers you interact with and help put power back into the hands of The People and hold law enforcement accountable.</h3>

<%= link_to "Sign Up", signup_path %> or
<%= link_to "Log In", login_path %>
<%= link_to "Sign In With Google", '/auth/google_oauth2'%>