<h1>What Others Are Saying</h1>

<ul>
<% @reviews.each do |r|%>
  <%= r.user.username%> said "<%= r.content%>" about: <strong><%= link_to r.officer.name, officer_path(r.officer_id) %></strong><br>
<% end %>
</ul>