<div class="row d-flex justify-content-center">
    <div class="col-lg-8">
        <h1> Oh no! This page doesn't exist.</h1>
        <%= link_to "Let's Go Home", reviews_path %><button class="btn btn-outline-primary"></button>
    </div>
</div>